<div class="panel">

    <div
        class="panel-header"
        (click)="panelClick.emit()"
    >

        {{ title }}

        <span>

            @if (opened) {
                −
            } @else {
                +
            }

        </span>

    </div>

    @if (opened) {

        <div class="panel-content">

            <h3>
                {{ name }}
            </h3>

            <p>
                {{ description }}
            </p>

            @if (extraDescription) {

                <small>
                    {{ extraDescription }}
                </small>

            }

        </div>

    }

</div>