<aside class="sidebar">
<button
    class="back-button"
    (click)="goBack()"
  >
    ← Back
  </button>
  <img
    [class]=" character.rarity === 'SSR' ? 'portrait background-ssr':'portrait background-sr'"
    [src]="character.linkPortrait"
    [alt]="character.name"
  />

  <h1>
    {{ character.name }}
  </h1>

  <div class="rarity">
    {{ character.rarity }}
  </div>

  <div class="buttons">

    <button>
      Costumes
    </button>

    <button class="active">
      Weapons
    </button>

    <button>
      Info
    </button>

  </div>

</aside>